.restaurant-buton {
  text-align: center;
  width: 220px;
  height: 50px;
  border-radius: 32px;
  -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* a {
  text-decoration: none;
  color: inherit;
}

.heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}

.heart-empty {
  width: 30px;
  position: relative;
}

.heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 350px;
  height: 70px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: progressive-appearence  1s both;
          animation: progressive-appearence  1s both;
}

@media only screen and (min-width: 768px) {
  .btn-menu {
    width: 500px;
  }
}

.btn-menu_header {
  margin: 10px 0 5px 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-menu_title {
  padding-bottom: 5px;
  margin: 0;
  font-size: 1.125rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-menu_description {
  margin: 0;
  padding-bottom: 5px;
  font-size: 0.938rem;
  color: #353535;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-menu_price {
  margin-top: 27px;
  padding-right: 20px;
  font-weight: bold;
}

.btn-menu_validation {
  display: none;
  text-align: center;
  width: 70px;
  height: 100%;
  line-height: 70px;
  font-size: 1.45rem;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  color: #fff;
}

.menu-contents {
  margin-top: 10px;
  margin-bottom: 0;
}

.btn-menu:hover {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-menu:hover .btn-menu_header {
  width: 216px;
}

@media only screen and (min-width: 768px) {
  .btn-menu:hover .btn-menu_header {
    width: 390px;
  }
}

.btn-menu:hover .btn-menu_validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.btn-menu:hover .btn-menu_price {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-left: 20px;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes progressive-appearence {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes progressive-appearence {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.opacity-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.opacity-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.opacity-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.opacity-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.opacity-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.opacity-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.opacity-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.opacity-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

header {
  z-index: 10;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
  z-index: 10;
  height: 70px;
  background-color: #fff;
}

.topbar_icon {
  position: absolute;
  left: 25px;
  top: 20px;
  font-size: 1.75rem;
  color: #000;
}

main {
  position: relative;
  z-index: 10;
}

.section-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: -150px;
  border-radius: 45px 45px 0px 0px;
  background-color: #f6f6f6;
}

.section-menus-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  margin-top: 10px;
  font-family: "Shrikhand", sans-serif;
}

.section-menus-restaurant_title {
  font-size: 1.70rem;
  padding-left: 20px;
}

.section-menus-restaurant_like {
  padding-right: 35px;
}

.restaurant-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.menu {
  margin-left: 5px;
}

@media only screen and (min-width: 768px) {
  .menu {
    margin-right: 50px;
  }
}

.menu-order {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.menu-order_title {
  margin-bottom: 10px;
  font-weight: normal;
  color: #353535;
}

.menu-order_underscore {
  width: 40px;
  height: 5px;
  background-color: #99E2D0;
}

.restaurant-buton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 30px;
  margin-bottom: 80px;
}

.restaurant-buton:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.charters {
  height: 200px;
  background: #353535;
  color: #fff;
}

.charters-title_footer {
  margin: 0 0 15px 30px;
  padding-top: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.25rem;
}

.charters-lines {
  margin-bottom: 30px;
}

.charters-lines_link {
  margin: 0 0 10px 30px;
}

.icon-charters {
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .charters-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .charters-title_footer {
    font-size: 3rem;
  }
  .charters-lines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.restaurant-image {
  width: 100%;
  height: 450px;
}

.restaurant-image_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: -80px;
}
/*# sourceMappingURL=styles-menus.css.map */