body
{
    width: 375px;
}

.topbar
{
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
}
.sections
{
    background-color: red;
    height: 1500px;
    display: flex;
    justify-content: center;
}
.charters
{
    background-color: #353535;
    height: 200px;
    display: flex;
    justify-content: center;
}
h1{
    color: white;
}