@import 'utils/variable';
@import 'utils/mixins';
@import 'utils/placeholder';
@import 'Layout/body';
@import 'Layout/header';
@import 'Layout/main-p1';
@import 'Layout/footer';

.restaurant {
	background: $background-main;
	height: 1225px;
	.restaurant-title {
		margin: 0px;
		padding-top: 60px;
		padding-left: 30px;
	}
	.restaurant-card-flex {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		margin-bottom: 20px;
		margin-top: -20px;
	}
    .restaurant-card-flex a{
        text-decoration: none;
    }
	.restaurant-card-buble-new,
	.restaurant-card-buble-new2 {
		width: 80px;
		height: 30px;
		background-color: $color-tertiary;
		text-align: center;
		transform: translate(270px, 30px);

		.buble-new-line,
		.buble-new-line2 {
			color: #008766;
			padding: 5px 0px;
			font-weight: bold;
		}
	}
	.restaurant-card {
		width: 335px;
		height: 255px;
		background-color: #fff;
		border-radius: 25px;
		box-shadow: $btn-shadow;
		margin-bottom: 20px;
        &:hover{
            box-shadow: $btn-shadow-hover;
        }
		.restaurant-card-image {
			width: 335px;
			height: 175px;
			border-radius: 25px 25px 0px 0px;
			object-fit: cover;
		}
		.lines-card {
			text-decoration: none;
			margin: 0px;
			padding: 10px 20px 0px;
		}
		.restaurant-card-title {
			color: #000;
		}

		.restaurant-card-localisation {
			color: #353535;
		}
	}
	.restaurant-card-buble-new2 {
		transform: translate(110px, 30px);
		.buble-new-line2 {
			margin: 0px;
		}
	}

	.card-marg {
		margin-top: -20px;
	}
}

