@import 'utils/variable';
@import 'utils/mixins';
@import 'utils/placeholder';
@import 'Componants/like-btn';
@import 'Componants/btn-menu';
@import 'Layout/body';
@import 'Layout/header-page-menus';
@import 'Layout/main-pages-menu';
@import 'Layout/footer';

.restaurant-image {
    width: 100%;
    height: 50vh;
    &_img{
        margin-top: -80px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}