.charters{
    background: #353535;
    height: 200px;
    color: #fff;
}

.charters-title {
    &_footer{
        font-family: $font-Shrikhand;
        font-size: 1.25rem;
        margin: 0px 0px 15px 30px;
        padding-top: 20px;
    }
}
.charters-lines{

    margin-bottom: 30px;
    &_link {
        margin: 0px 0px 10px 30px;
    }
}
 .icon-charters {
     padding-right: $padding-icon;
 }

 @media #{$medium} {

    .charters-title{
        @include display;
        &_footer{
            font-size: 3rem;
        }
    }

    .charters-lines{
        @include display($justify: space-around, $flow: row wrap);
    }

 }