.charters{
    height: 200px;
    background: #353535;
    color: #fff;
}

.charters-title {
    &_footer{
        margin: 0 0 15px 30px;
        padding-top: 20px;
        font-family: $font-Shrikhand;
        font-size: 1.25rem;
    }
}
.charters-lines{
    margin-bottom: 30px;

    &_link {
        margin: 0 0 10px 30px;
    }

}
 .icon-charters {
     padding-right: $padding-icon;
 }

 @media #{$medium} {

    .charters-title{
        @include display;

        &_footer{
            font-size: 3rem;
        }
        
    }

    .charters-lines{
        @include display($justify: space-around, $flow: row wrap);
    }

 }