.charters{
    background: #353535;
    height: 200px;
    color: #fff;
    

    .charters-title{
        font-family: $font-Shrikhand;
        font-size: 19px;
        margin: 0px 0px 15px 30px;
        padding-top: 20px;
    }
    .charters-line{
        margin: 0px 0px 10px 30px;
    }
    .charters-line-icon{
        padding-right: $padding-icon;
    }
    .charters-line-icon1{
        padding-right: 13px;
    }
    .charters-line a {
        text-decoration: none;
        color: #fff;
    }
}