@import '../utils/variable';

header{
    z-index: 10;
}

.topbar {
  @include display;
  height: 70px;
  z-index: 10;
  background-color: #fff;
  position: relative;
      &_icon{
        color: #000;       
        font-size: 1.75rem;
        position: absolute;
        left: 25px;
        top: 20px;
      }
}

