@import '../utils/variable';

header{
    z-index: 10;
    .topbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65px;
    z-index: 10;
    background-color: #fff;
    box-shadow: $btn-shadow;
    position: relative;
    padding-right: 40px;
      &_icon{
        color: #000;       
        font-size: 20px;
      }
      &_image{
        width: 165px;
        height: 30px;
        
      }
    }
}

