// Restaurant page , main

main {
	position: relative;
	z-index: 10;
}

// Menu réservation

.section-menus {
	@include display;
	margin-top: -150px;
	border-radius: 45px 45px 0px 0px;
	background-color: #f6f6f6;
}

.section-menus-restaurant {
	@include display ($justify: space-between, $flow: row wrap);
	width: 100%;
	margin-top: 10px;
	font-family: $font-Shrikhand;

	&_title {
		font-size: 1.70rem;
		padding-left: 20px;
	}
	&_like {
		padding-right: 35px;
	}
}

.restaurant-menus {
	@include display ($align: flex-start, $flow: row wrap);
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		@include display ($justify: center, $align: center, $flow: row wrap);
	}
}

.menu {
	margin-left: 5px;
	@media #{$medium} {
		margin-right: 50px;
	}
}

.menu-order {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;

	&_title {
		margin-bottom: 10px;
		font-weight: normal;
		color: $color-fonts;
	}

	&_underscore {
		width: 40px;
		height: 5px;
		background-color: $color-tertiary;
	}
}

.restaurant-buton {
	@include display;
	margin-top: 30px;
	margin-bottom: 80px;
	@extend %btn-gradient;
	&:hover {
		box-shadow: $btn-shadow-hover;
		transform: scale(1.2);
	}
}
