main{
    z-index: 10;
    position: relative;

    .restaurant-menus {
	background-color: #f6f6f6;
	border-radius: 50px 50px 0px 0px;
    @include flex-center;
    margin-top: -200px;

       &_title {
	      display: flex;
	      justify-content: space-around;
	      align-items: center;
          font-family: $font-Shrikhand;
          margin-top: 20px;

             &_h1 {
                 font-size: 27px;
                padding-right: 50px
             }
       }
    }
}


.restaurant-entry {
    @include flex-center;
    &_menu {
        margin-bottom: 20px;
        display: inline-block;
        padding-right: 250px ;

        &_title{
           margin-bottom: 10px;
           color: $color-fonts;
        }
        &_underscore {
           width: 40px;
           height: 5px;
           background-color: $color-tertiary;
        }
    }

}
.restaurant-dish {
    @include flex-center;
    &_menu {
        margin-bottom: 20px;
        display: inline-block;
        padding-right: 250px ;

        &_title{
           margin-bottom: 10px;
           color: $color-fonts;
        }
        &_underscore {
           width: 40px;
           height: 5px;
           background-color: $color-tertiary;
        }
    }
}
.restaurant-desert {
    @include flex-center;
        &_menu {
        margin-bottom: 20px;
        display: inline-block;
        padding-right: 250px ;

        &_title{
           margin-bottom: 10px;
           color: $color-fonts;
        }
        &_underscore {
           width: 40px;
           height: 5px;
           background-color: $color-tertiary;
        }
    }
}
.restaurant-buton{
    @include flex-center;
    @include btn-gradient;
    margin-top: 30px;
    margin-bottom: 80px;
    &:hover {
        box-shadow: $btn-shadow-hover;
        transform: scale(1.2);
    }
   
}
