main{
    z-index: 10;
    position: relative;
}
.restaurant-menus {
	background-color: #f6f6f6;
	border-radius: 50px 50px 0px 0px;
    @include flex-center;
    margin-top: -200px;

       &_title {
	      display: flex;
	      justify-content: space-around;
	      align-items: center;
          font-family: $font-Shrikhand;
          margin-top: 10px;
          width: 100%;

             &_h1 {
                 font-size: 1.70rem;
                 position: relative;
                 left: -10px;
                    @media #{$ipad} {
                       left: -30px;
                    }
             }
       }
    }
@media #{$ipad} {
    .restaurant-menus_title-like{
        position: relative;
        right: -35px
    }
}


.restaurant-entry {
    @include flex-center;
    @include menus;
}

.restaurant-dish {
    @include flex-center;
    @include menus;
    .menu-change{
        left: -145px;
        @media #{$ipad} {
            left: -37%;
        }
    }
}
.restaurant-desert {
    @include flex-center;
    @include menus;
}
@media #{$ipad} {
    .responsive-menu{
        width: 100%;

        &_order {
            left: -35%
        }
    }
    
}
.restaurant-buton{
    @include flex-center;
    @include btn-gradient;
    margin-top: 30px;
    margin-bottom: 80px;
    &:hover {
        box-shadow: $btn-shadow-hover;
        transform: scale(1.2);
    }
   
}
