.localisation{
    height: 3.125rem;
    background-color:#EAEAEA;
    @include flex-center;

    &_icon{
         padding-right: $padding-icon;
    }
}

.description{
    height: 290px;
    background: $background-main;
    @include flex-center;

    &_h1{
        text-align: $text-align;
        margin: 0rem;
        font-size: 1.375rem;
        margin-bottom: 1.25rem;
    }
    &_words{
        text-align: $text-align;
        margin-bottom: 1.875rem;
        color: $color-fonts;
    }
    &_button{
        @include btn-gradient;

        &:hover{
            border-color: $color-primary-light;
            background-color: $color-primary-light;
            box-shadow: $btn-shadow-hover;
        }
    }
}

.fonction{
    height: 440px;
    @include flex-center;
    &_title{
        padding-right: 11rem;
        margin-top: 0rem;
        margin-bottom: 2.2rem;
        padding-top: 3.5rem;
    }
    &_button{
        @extend %btn-p1;
        &:hover{
            border-color: #F5EDFF;
            background-color: lighten(#F5EDFF , 0);
            box-shadow: $btn-shadow-hover;
            
            .fonction_button_icon{
                color: $color-primary
            }
        }
        span{
            @extend %span;
        }

        &_icon{
            padding-right: $padding-icon;
        }
        &_p{
            margin: 0rem;
            padding: 0.125rem 0rem;
        }

    }
}

.restaurant
{
  background: #F6F6F6;
  height: 1285px;

    .restaurant-title{
        margin: 0rem;
        padding-top: 3.75rem;
        padding-left: 1.875rem;
    }
    .restaurant-card-buble-new,.restaurant-card-buble-new2{
        width: 80px;
        height: 30px;
        background-color: $color-tertiary;
        text-align: center;
        transform: translate(270px, 30px);
        .buble-new-line,.buble-new-line2{
            color: #008766;
            padding: 5px 0px;
            font-weight: bold;
        }
    }
    .restaurant-card-buble-new2{
        transform: translate(100px,30px);
        .buble-new-line2{
            margin: 0rem;
        }
    }
    .restaurant-card-flex{
        @include flex-center;
         flex-flow: column wrap;
         margin-top: -1.25rem;

        .restaurant-card{
            width: 335px;
            height: 255px;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: $btn-shadow;
            margin-bottom: 1.25rem;

                .restaurant-card-image{
                   width: 335px;
                   height: 175px;
                   border-radius: 25px 25px 0px 0px;
                   object-fit: cover;
                }
                .lines-card{
                   margin: 0rem;
                   padding: 0.625rem 1.25rem 0rem;
                }
                .restaurant-card-title{
                   color: #000;
                }
            
                .restaurant-card-localisation{
                  color: #353535;
                }
                .heart{
                  width: 30px;
                  stroke-width: 30;
                  stroke: black;
                  fill: white;
                  cursor: pointer;
                  transform: translate(270px,-40px);
                }
                .heart-full{
                  position: absolute;
                  fill: url(#text-fill);
                  stroke: none;
                }
                .heart-empty {
                  width: 30px;
                  position: relative; 
                  &:hover {
                  opacity: 0;
                  transition: 0.5s;
                  }
                }

        }
        .restaurant-card:hover{
            box-shadow: $btn-shadow-hover;
        }
    }
    .restaurant-card-flex a{
        text-decoration: none;
    }
    .card-marg{
        margin-top: -1.875rem;
    }

}