@import '../utils/variable';

.btn-menu{
    width: 350px;
    height: 70px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: $btn-shadow;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: progressive-appearence 1s both;
    overflow: hidden;
    @media #{$medium} {
        width: 500px;
    }
    &_header {
        margin: 10px 0px 5px 11px;
        align-self: center;
        @include btn-white-space;
        width: 260px;
        @media #{$medium}{
            width: 390px;
        }
    }
    &_title
    {
        padding-bottom: 5px;
        margin: 0px;
        font-size: 1.125rem;
        @include btn-white-space;
    }
    
    &_description{
        margin: 0px;
        padding-bottom: 5px;
        font-size: 0.938rem;
        color: $color-fonts;
        @include btn-white-space;
    }
    &_price{
        font-weight: bold;
        margin-top: 27px;
        transition: 400ms;
    }
    &_check {
        display: block;
        margin-right: -70px;
        transition: 400ms;
        font-size: 1.45rem;
        border-radius: 0px 15px 15px 0px;
        text-align: $center;
        line-height: 70px;
        width: 70px;
        height: 100%;
        background-color: $color-tertiary;
        color: #fff;      
    }
}

.menu-contents {
    margin-top: 10px;
    margin-bottom: 0px;
}

.btn-menu:hover {
     flex-wrap: nowrap;

    .btn-menu_check {
        margin-right: 0;
        transition: 0.5s ease-in-out;
        .check-icon {
            transform:  rotate(360deg);
            transition: transform 500ms ease-in-out;
        }
    }
    .btn-menu_price{
        margin-right: 10px;
        transition: margin-right 500ms ease-in-out;
    }
}

  @keyframes progressive-appearence  {
      from {
         
          opacity: 0;;
      }

      to {
          opacity: 1;
      }
  }
   
@for $i from 2 through 9 {

      .opacity-#{$i}{
          animation-delay: $i * 0.2s;
      }

}