

.loader {
   position: fixed;
   @include display ($flow: row wrap);
   height: 100%;
   width: 100%;
   visibility: hidden;
   animation: background-loader 3s linear;
   z-index: 60;

}
.floak {
    position: absolute;
    display: flex;
    animation: rotate-right 1s ease-out forwards;
    margin-left: -250px;
    z-index: 2;
        
    &_1 {
        width: 10px;
        height: 35px;
        background-color: $color-tertiary;
    }
    &_2{
        width: 10px;
        height: 35px;
        background-color: $color-tertiary;
        margin-left: 5px;   
    }
    &_3{
        width: 10px;
        height: 35px;
        background-color: $color-tertiary;
        margin-left:5px;
    }
    &_4{
        width: 40px;
        height: 20px;
        background-color: $color-tertiary;
        position: relative;
        margin-top: 30px;
        right: 40px;
        border-radius: 0 0 10px 10px;
    }
    &_5 {
        width: 15px;
        height: 100px;
        background-color: $color-tertiary;
        position: relative;
        top: 40px;
        right: 67px;
    }
}
.plate {
   width: 220px;
   height: 220px;
   border-radius: 50%;
   background-color: $color-fonts;
   border: 1px solid $color-secondary;
   display: flex;
   align-items: center;
   justify-content: center;

   &_inside {
       width: 180px;
       height: 180px;
       border-radius: 50%;
       border: 1px solid $color-secondary;
       color: #fff;
       text-align: center;
       font-family: $font-Shrikhand;
   }
}

.knife {
      margin-left: 5px;
      margin-top: 40px;
      animation: rotate-left 1s ease-out forwards;
    &_up {
        width: 25px;
        height: 100px;
        background-color: $color-tertiary;
        border-radius: 50px 0 0 0;
    }
    &_down {
        width: 20px;
        height: 50px;
        background-color: $color-tertiary;
        margin-left: 4px;
    }
}

.title-loader{
    position: absolute;
    text-align: center;
    color: $color-primary;
    font-size: 60px;
    font-weight: bold;
    z-index: 50;
    font-family: $font-Shrikhand;
    text-shadow: 0 0 10px $color-primary;
    animation: title-scale 2s 1s ease-out;
}

@keyframes rotate-right {
    from {
       transform: rotate(0deg)
    }
    to {
       transform: rotate(90deg)
       translate(0px,-130px);
    }
}
@keyframes rotate-left {
    from {
       transform: rotate(0deg)
    }
    to {
       transform: rotate(-90deg)
       translate(0px,-130px)
    }
}
@keyframes title-scale {
    0% {
         transform: scale(1);
         color: $color-primary;
    }
    100% {
         transform: scale(1.5);
         color: $color-fonts;
         text-shadow: 0 0 7px #fff900;
    }
}
@keyframes background-loader {
    0% {
        background-color:#000;
        visibility: visible;
    }
    25%{
        background-color:rgba(0, 0, 0, 0.750);
    }
    50%{
        background-color:rgba(0, 0, 0, 0.500);
    }
    75%{
        background-color:rgba(0, 0, 0, 0.250);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.000);
    }
}