.btn-menu{
    width: 350px;
    height: 70px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: $btn-shadow;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: btn-effect 1.5s;

    &_header {
        margin: 10px 0px 5px 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &_title
    {
        margin:10px 0px;
    }
    
    &_description{
        margin: 10px 0px;
    }
    &_price{
        font-weight: bold;
        margin-top: 35px;
        padding-right: 20px;
    }
    &_validation {
        font-size: 20px;
        border-radius: 0px 15px 15px 0px;
        text-align: center;
        line-height: 70px;
        width: 60px;
        height: 100%;
        background-color: $color-tertiary;
        color: #fff;
        display: none;
        
    }
    .menu-contents {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}




.btn-menu:hover {
     flex-wrap: nowrap;
    .btn-menu_validation{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 0.7s ease ;
        transform-origin: right;
    }
    .btn-menu_price{
      transition: 0.1s ease;
      padding-left: 20px;
      
    }
    .btn-menu_description {
        white-space: nowrap;
        text-overflow: ellipsis ;
        overflow: hidden;
    }
}



  @keyframes slide-left {
    0% {
              transform: scaleX(0);
    }
    100% {
              transform: scaleX(-50px);
    }
  }

  @keyframes btn-effect {
      from {
         
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }


  .opacity-2{
      animation-delay: 0.2s;
  }
    .opacity-3{
      animation-delay: 0.3s;
  }
    .opacity-4{
      animation-delay: 0.4s;
  }
    .opacity-5{
      animation-delay: 0.5s;
  }
    .opacity-6{
      animation-delay: 0.6s;
  }
    .opacity-7{
      animation-delay: 0.7s;
  }
  .opacity-8{
      animation-delay: 0.8s;
  }
    .opacity-9{
      animation-delay: 0.9s;
  }