.btn-menu {
  width: 350px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: btn-effect 1s both;
          animation: btn-effect 1s both;
}

.btn-menu_header {
  margin: 10px 0px 5px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-menu_title {
  margin: 10px 0px;
}

.btn-menu_description {
  margin: 10px 0px;
}

.btn-menu_price {
  font-weight: bold;
  margin-top: 35px;
  padding-right: 20px;
}

.btn-menu_validation {
  font-size: 20px;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  line-height: 70px;
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  color: #fff;
  display: none;
}

.btn-menu .menu-contents {
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-menu:hover {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-menu:hover .btn-menu_header {
  width: 216px;
}

.btn-menu:hover .btn-menu_validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-left 0.4s ease;
          animation: slide-left 0.4s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.btn-menu:hover .btn-menu_price {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-left: 20px;
}

.btn-menu:hover .btn-menu_description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-50px);
            transform: scaleX(-50px);
  }
}

@-webkit-keyframes btn-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes btn-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.opacity-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.opacity-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.opacity-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.opacity-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.opacity-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.opacity-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.opacity-9 {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
/*# sourceMappingURL=btn-menu.css.map */