@mixin display ($display: flex, $align: center, $justify: center, $flow: column wrap){
    display: $display;
    align-items: $align ;
    justify-content: $justify;
    flex-flow: $flow;
}



@mixin btn-white-space ($text: ellipsis, $overflow: hidden, $space: nowrap) {
    text-overflow: $text;
    overflow: $overflow;
    white-space: $space;
}
