@mixin flex-center ($display: flex, $align: center, $justify: center, $flow: column wrap){
    display: $display;
    align-items: $align ;
    justify-content: $justify;
    flex-flow: $flow;
}



@mixin btn-white-space {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
