//Color

$color-primary: #9356DC;
$color-primary-light: lighten(#9356DC, 20%);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fonts: #353535;
$background-main:#F6F6F6;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

//Police

$font-roboto: 'Roboto', sans-serif;
$text-align: center;
$font-Shrikhand:'Shrikhand', sans-serif; 

//Padding
 
$padding-icon: 1.25rem;

//Box-Shadow

$btn-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
$btn-shadow-hover: 10px 10px 10px  rgba(0,0,0,0.20);

//Responsive

$ipad: 'only screen and (min-width:380px) and (max-width: 768px)';
$desktop :'only screen and (min-width:800px)';