//Color

$primary: #9356DC;
$primary-light: lighten(#9356DC, 20%);
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background-main:#F6F6F6;

//Police

$font-roboto: 'Roboto', sans-serif;
$text-align: center;
$font-Shrikhand:'Shrikhand', sans-serif; 

//Padding
 
$padding-icon: 20px;

//Box-Shadow

$btn-shadow:5px 5px 5px #CDCDCD;
$btn-shadow-hover: 10px 10px 10px #CDCDCD;